{% extends "base.html" %}

{% block head %}
    <title>Contact</title>
{% endblock %}

{% block content %}
    <div class="container center" id="about">
        <h1>CONTACT</h1>
        <p>{% lorem 2 %} </p>
        <form method="POST" action="delivered.html">
            {% csrf_token %}
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="contact_first_name" placeholder="First name" name="contact_first_name" aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="contact_last_name" placeholder="Last name" name="contact_last_name" aria-label="Last name">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="contact_email" placeholder="Email" name="contact_email" aria-label="Email">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="contact_subject" placeholder="Subject" name="contact_subject" aria-label="Subject">
                </div>
            </div>
            <br>
            <textarea class="form-control" aria-label="contact_message" placeholder="Enter Your Message" name="contact_message"></textarea>
            <br>
            <input type="submit" class="btn btn-primary center" value="Submit">
        </form>
    </div>
{% endblock %}