{% extends "base.html" %}

{% block head %}
    <title>Contact</title>
{% endblock %}

{% block content %}
    <div class="container center" id="about">
        <h1>CONTACT</h1>
    {% comment %} <p>{% lorem 2 %} </p> {% endcomment %}
        <form method="POST" action="">
            {% csrf_token %}
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Subject" aria-label="Subject">
                </div>
            </div>
            <br>
            <textarea class="form-control" aria-label="With textarea"></textarea>
            <br>
            <input type="submit" class="btn btn-primary center" value="Submit">
        </form>
{% endblock %}