{% extends "base.html" %}

{% block head %}
    <title>Store</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="pb-3 h5">Everything Fashion</div>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card">
                        <img class="img-fluid" src="{{ product.image.url }}">
                        <h5><a class="card-title text-dark text-decoration-none center" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price - {{ product.price }}</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}